.date input {
  border: none;
  margin-left: 10px;
}

.date {
  border: 0.6px solid $sidebar-font-color;
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date .icon-calendar:before {
  font-size: 20px;
  color: $sidebar-font-color;
  margin-right: 10px;
}

.date .calendar {
  height: 30px;
  border-left: 0.6px solid $sidebar-font-color;
  padding-left: 10px;
}

.date-refresh {
  @include centering;
  margin: 70px 0;
}

.date-refresh .refresh {
  width: 40px;
}
