table {
  width: 100%;
  border-spacing: 0;

  tr {
    height: 66px;
  }

  td {
    padding: 5px 15px;
    border-top: 0.6px solid $sidebar-font-color;
    border-spacing: 0 0;
  }

  tr:last-child td{
    border-bottom: 1px solid $sidebar-font-color;
  }

  tr:hover {
    background-color: $chart-option-background;

    span {
      display: block;
    }
  }
}

.name-cell {
  width: 50%;
  color: #868686;
  font-size: 20px;
  font-weight: bold;
}

.link-cell {
  width: 40%;
  color: $login-color;
  font-size: 20px;
  text-decoration: underline;
}

.icon-cell {
  width: 10%;
  padding: 0;

  .icons-table-container {
    display: flex;
  }

  span {
    padding: 15px;
    display: none;
    cursor: pointer;
  }

  .icon-links {
    color: $button-color;
    font-size: 20px;
  }

  .icon-trash {
    font-size: 20px;
    color: $sidebar-font-color;
  }
}

