.section-title {
  text-transform: uppercase;
  border-bottom: 0.6px solid;
  font-weight: bold;
  font-size: 20px;
  color: $sidebar-font-color;
  display: block;
  width: 100%;
  padding: 15px;
  font-weight: 600;
}
