.general-statistic hr {
  border-top: 0.6px solid $sidebar-font-color;
}

.general-statistic .charts {
  position: relative;
  left: 423px;
  top: 30px;
}


.general-statistic .image-wrapper {
  @include centering;
}
