.general-statistic hr {
  border-top: 0.6px solid $sidebar-font-color;
}

.general-statistic .charts {
  margin: 40px auto;
  text-align: center;
  display: block;
}


.general-statistic .image-wrapper {
  @include centering;
  overflow-x: auto;
}

