.sidebar {
  background: $sidebar-background-color;
  position: fixed;
  height: 100vh;
  z-index: 200;
}

h1 {
  font-family: 'Kalam', cursive;
  font-weight: lighter;
  color: white;
  padding: 15px;
}

h4 {
  color: $sidebar-font-color;
  font-size: 15px;
  text-transform: uppercase;
}

.sidebar-top {
  position: relative;
}

.sidebar-top span {
  color: #999999;
  width: 16px;
  position: absolute;
  right: 30px;
}

aside hr {
  border-top: 0.6px solid #2f2f2f;
}
