.sidebar {
  background: $sidebar-background-color;
  position: fixed;
  height: 100%;
  width: 250px;
  z-index: 200;
  padding-left: 0;
}

.just-do-it {
  font-family: 'Kalam', cursive;
  font-weight: lighter;
  color: white;
  padding: 15px;
  display: inline-block;
  font-size: 30px;
  margin-top: 10px;
}

.manager {
  color: $sidebar-font-color;
  font-size: 15px;
  text-transform: uppercase;
  padding: 15px;
}

.sidebar-top {
  position: relative;
  height: 66.8px;
}

.sidebar-top .fas {
  color: #999999;
  width: 22px;
  position: absolute;
  right: 35px;
  font-size: 30px;
  top: 25px;
  cursor: pointer;
}

aside hr {
  border: 0.6px solid #2f2f2f;
}

.sidebar .menu-inner {
  display: none;
}

.sidebar .menu-inner div{
  width: 100%;
  text-align: center;
  margin: 30px auto;

  .money-amount {
    color: $sidebar-font-color;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
  }

  .bell-and-out {
    font-size: 20px;
  }
}


@media (max-width: 768px) {
  .sidebar .sidebar-inner {
    display: none;
  }

  .sidebar-inner.show {
    display: block;
    background: $sidebar-background-color;
    margin-top: -16px;
  }

  .sidebar.fullHeight {
    height: 100%;
  }

  .sidebar {
    height: 68px;
  }

  .inner {
    width: auto;
    left: 0;
  }

  .sidebar .menu-inner{
    display: block;
  }
}
