.top-menu {
  width: calc(100% - 250px);
  position: fixed;
  right: 0;
  border-bottom: 1px solid $sidebar-font-color;
  height: 66.8px;
  z-index: 100;
  background-color: white;
}

.top-menu .row div {
  @include centering;
  height: 66.8px;
  padding: 30px;
}

.top-menu div .menu-inner {
  position: absolute;
  right: 0;
  padding: 0;
  float: right;
}

@media (max-width: 800px) {
  .top-menu .row div {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .top-menu{
    display: none;
  }
}
